[Unit]
Description=Run Namecheap Dynamic DNS Updater every 10 minutes
Requires=namecheap-ddns.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target